<a href="https://colab.research.google.com/github/Renee751/Data_Analytics_Python_Github/blob/main/Highest_temperature_change_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = "/content/drive/MyDrive/Colab Notebooks/Environment_Temperature_change_E_All_Data_NOFLAG.csv"
df = pd.read_csv(path, encoding='ISO-8859-1')

In [32]:
# 1. Remove all rows with 'Element' = 'Standard Deviation'
# 2. Romove column Element
# 3. Remove all, except 'meteorological year' in 'months'
# 4. Area code < 5000 are countries

df2 = df.loc[(df['Months'] == 'Meteorological year') & (df['Element'] == 'Temperature change') & (df['Area Code'] < 5000)]

# index = area
# remove: 'Area Code', 'Months Code', 'Months', 'Element Code', 'Element', 'Unit'

df3 = df2.drop(columns = ['Area Code', 'Months Code', 'Months', 'Element Code', 'Element', 'Unit'])
df4 = df3.set_index('Area')

# Which 3 countries had the biggest change in temperatures looking at 10 year moving averages (10YMA) between 1961 and 2019?

For example: a country had a 10YMA of -3 in 1970 and a 10YMA of +8 in 2018 the change was 11.

If that same country had a 10YMA of 0 in 1965 the biggest change is still 11. If that same country had a 10YMA of +7 in 2019 the biggest change is still 11.

In [80]:
# Moving average: voor elk land moving average berekenen.
# 1. Axis = 1 aangezien de moving average over de kolommen gaat
# 2. Center = True om moving average met de jaren ervoor Ã©n erna te pakken
# 3. min_periods = 5 zodat we van alle jaartallen een MA hebben

df5 = df4.rolling(window=10,axis='columns', center =True, min_periods=5).mean()
df5['Max_MA'] = df5.max(axis='columns')
moving_average = df5['Max_MA']
top_3_countries = moving_average.nlargest(3, 'all')
top_3_countries

Area
Svalbard and Jan Mayen Islands    3.742667
Czechia                           2.253167
Austria                           2.207667
Name: Max_MA, dtype: float64